body{
    font-size:11px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;
    background-color: #00adffe3;
}
h1.page-title{
    font-size:16px;
    padding: 10px 0px 20px;
}
#wp-form-login{
    width: 270px;
    background-color: white;
    border-radius: 3px;
    padding:30px 20px;
    margin:150px auto;
    text-align: center;
}
#wp-form-login #home {
    font-size: 20px;
    padding-top: 0px;
    float: right;
}
#form-login input{
    display: block;
}
#form-login #username, #form-login #password, #form-login #firstName, #form-login #email, #form-login #lastName, #form-login #phoneNumber, #form-login #address{
    display: block;
    padding:10px 0px;
    width: 100%;
    text-align: center;
    background-color: #f2e8e8;
    margin-bottom: 15px;
    border:none;
}

#form-login #btn-login,#form-login #btn-reg{
    display: block;
    width: 100%;
    background-color: blue;
    border:none;
    color:white;
    padding:10px 0px;
    margin: 15px 0px 10px;
    cursor: pointer;
}
#lost-pass,#login,#reg{
    color: #4a8eae;
    text-decoration: underline;
}